.DS_Store
/.idea/
dist/
node_modules/
server/node_modules/
node_modulesdist/
public/tts-model/*.onnx
public/whisper/*.bin
/server/bin/
/server/model/
server/model/
server/data/*.db*
/server/data/tts-cache/
/server/data/example-cache/
/server/data/scenes-metadata.json
